# Melbourne Housing Data
#### For more information on this dataset, go to <a href="https://www.kaggle.com/dansbecker/melbourne-housing-snapshot"> Kaggle Melbourne housing Snapshot dataset</a>

##  Create dataframe from the melbourne housing data csv and preview the first 10 listings

In [5]:
import pandas as pd
data_path = './melb_data.csv'

melb_data = pd.read_csv(data_path)
melb_data.head(10)

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0
5,Abbotsford,129 Charles St,2,h,941000.0,S,Jellis,7/05/2016,2.5,3067.0,...,1.0,0.0,181.0,NaN,NaN,Yarra,-37.8041,144.9953,Northern Metropolitan,4019.0
6,Abbotsford,124 Yarra St,3,h,1876000.0,S,Nelson,7/05/2016,2.5,3067.0,...,2.0,0.0,245.0,210.0,1910.0,Yarra,-37.8024,144.9993,Northern Metropolitan,4019.0
7,Abbotsford,98 Charles St,2,h,1636000.0,S,Nelson,8/10/2016,2.5,3067.0,...,1.0,2.0,256.0,107.0,1890.0,Yarra,-37.8060,144.9954,Northern Metropolitan,4019.0
8,Abbotsford,6/241 Nicholson St,1,u,300000.0,S,Biggin,8/10/2016,2.5,3067.0,...,1.0,1.0,0.0,NaN,NaN,Yarra,-37.8008,144.9973,Northern Metropolitan,4019.0
9,Abbotsford,10 Valiant St,2,h,1097000.0,S,Biggin,8/10/2016,2.5,3067.0,...,1.0,2.0,220.0,75.0,1900.0,Yarra,-37.8010,144.9989,Northern Metropolitan,4019.0

### 1. View all the regions where houses are located

In [9]:
melb_data.Regionname.unique()

array(['Northern Metropolitan', 'Western Metropolitan',
       'Southern Metropolitan', 'Eastern Metropolitan',
       'South-Eastern Metropolitan', 'Eastern Victoria',
       'Northern Victoria', 'Western Victoria'], dtype=object)

### 2. Find all the suburbs and the number of listings each suburb has

In [10]:
melb_data.Suburb.value_counts()

Reservoir         359
Richmond          260
Bentleigh East    249
Preston           239
Brunswick         222
                 ...
Bacchus Marsh       1
Rockbank            1
Croydon South       1
Officer             1
Upwey               1
Name: Suburb, Length: 314, dtype: int64

### 3. Add the price deviation and variance columns

In [13]:
def deviation_column():
    melb_data['price_deviation'] = (melb_data.Price - melb_data.Price.mean())

    def variance_column():
        melb_data['price_variance'] = (melb_data.price_deviation * melb_data.price_deviation)
        print(melb_data.loc[:10, ['Address', 'Suburb', 'Price', 'price_deviation', 'price_variance']])
    variance_column()
deviation_column()

               Address      Suburb      Price  price_deviation  price_variance
0         85 Turner St  Abbotsford  1480000.0    404315.920545    1.634714e+11
1      25 Bloomburg St  Abbotsford  1035000.0    -40684.079455    1.655194e+09
2         5 Charles St  Abbotsford  1465000.0    389315.920545    1.515669e+11
3     40 Federation La  Abbotsford   850000.0   -225684.079455    5.093330e+10
4          55a Park St  Abbotsford  1600000.0    524315.920545    2.749072e+11
5       129 Charles St  Abbotsford   941000.0   -134684.079455    1.813980e+10
6         124 Yarra St  Abbotsford  1876000.0    800315.920545    6.405056e+11
7        98 Charles St  Abbotsford  1636000.0    560315.920545    3.139539e+11
8   6/241 Nicholson St  Abbotsford   300000.0   -775684.079455    6.016858e+11
9        10 Valiant St  Abbotsford  1097000.0     21315.920545    4.543685e+08
10  411/8 Grosvenor St  Abbotsford   700000.0   -375684.079455    1.411385e+11

### 4. Find landsize deviation

In [14]:
def landsize_deviation(row):
    row.Landsize = row.Landsize - melb_data.Landsize.mean()
    return row
melb_data.apply(landsize_deviation, axis='columns')

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,price_deviation,price_variance
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,-356.416127,NaN,NaN,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0,4.043159e+05,1.634714e+11
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,-402.416127,79.0,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0,-4.068408e+04,1.655194e+09
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,-424.416127,150.0,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0,3.893159e+05,1.515669e+11
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,-464.416127,NaN,NaN,Yarra,-37.79690,144.99690,Northern Metropolitan,4019.0,-2.256841e+05,5.093330e+10
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,-438.416127,142.0,2014.0,Yarra,-37.80720,144.99410,Northern Metropolitan,4019.0,5.243159e+05,2.749072e+11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,Wheelers Hill,12 Strada Cr,4,h,1245000.0,S,Barry,26/08/2017,16.7,3150.0,...,93.583873,NaN,1981.0,NaN,-37.90562,145.16761,South-Eastern Metropolitan,7392.0,1.693159e+05,2.866788e+10
13576,Williamstown,77 Merrett Dr,3,h,1031000.0,SP,Williams,26/08/2017,6.8,3016.0,...,-225.416127,133.0,1995.0,NaN,-37.85927,144.87904,Western Metropolitan,6380.0,-4.468408e+04,1.996667e+09
13577,Williamstown,83 Power St,3,h,1170000.0,S,Raine,26/08/2017,6.8,3016.0,...,-122.416127,NaN,1997.0,NaN,-37.85274,144.88738,Western Metropolitan,6380.0,9.431592e+04,8.895493e+09
13578,Williamstown,96 Verdon St,4,h,2500000.0,PI,Sweeney,26/08/2017,6.8,3016.0,...,307.583873,157.0,1920.0,NaN,-37.85908,144.89299,Western Metropolitan,6380.0,1.424316e+06,2.028676e+12
13579,Yarraville,6 Agnes St,4,h,1285000.0,SP,Village,26/08/2017,6.3,3013.0,...,-196.416127,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543.0,2.093159e+05,4.381315e+10

### 5. Find the mean landsize of houses in each suburb

In [25]:
melb_data.groupby('Suburb').Landsize.mean()

Suburb
Abbotsford      292.446429
Aberfeldie      514.772727
Airport West    432.880597
Albanvale       501.166667
Albert Park     176.652174
                   ...
Wonga Park        0.000000
Wyndham Vale    488.750000
Yallambie       599.375000
Yarra Glen      863.000000
Yarraville      322.006098
Name: Landsize, Length: 314, dtype: float64

### 6.Get the house where you spend less cash to get more landsize
 You are getting the biggest ratio of landsize to price

In [7]:
bargain_idx = (melb_data.Landsize / melb_data.Price).idxmax()
bargain_home = melb_data.loc[bargain_idx, ['Suburb', 'Rooms', 'Price', 'Landsize']]
bargain_home

Suburb      Fitzroy
Rooms             3
Price       2.7e+06
Landsize     433014
Name: 11020, dtype: object

### 7. Get the bargain home in each suburb

In [9]:
melb_data.groupby('Suburb').apply(lambda df: (melb_data.loc[(df.Landsize / df.Price).idxmax(), ['Address', 'Price', 'Landsize', 'Bedroom2']]))

                          Address      Price  Landsize  Bedroom2
Suburb
Abbotsford    138/56 Nicholson St  1090000.0    4290.0       3.0
Aberfeldie     6/39 St Kinnord St   310000.0    1715.0       1.0
Airport West     11 Harrington Rd   725000.0     976.0       6.0
Albanvale           5 Hedgerow Ct   565000.0     619.0       3.0
Albert Park       3/78 Kerferd Rd   685000.0     324.0       2.0
...                           ...        ...       ...       ...
Wonga Park       2 Rindlebrook Pl   900000.0       0.0       3.0
Wyndham Vale          5 Dakara Ct   480000.0     743.0       3.0
Yallambie              2 Debra Ct   650000.0     706.0       3.0
Yarra Glen            15 Yarra St   620000.0     863.0       3.0
Yarraville        7/88 Stephen St   782000.0    1555.0       2.0

[314 rows x 4 columns]

### 8. Get One bedroom houses

In [46]:
def one_br():
    return melb_data.loc[melb_data.Bedroom2 == 1, ['Suburb', 'Address', 'Price', 'Landsize']]
one_br()

            Suburb              Address     Price  Landsize
8       Abbotsford   6/241 Nicholson St  300000.0       0.0
14      Abbotsford   7/20 Abbotsford St  441000.0       0.0
26      Abbotsford   5/20 Abbotsford St  426000.0       0.0
28      Abbotsford  116/56 Nicholson St  457000.0       0.0
33      Abbotsford      11/205 Gipps St  470000.0       0.0
...            ...                  ...       ...       ...
13140     Carnegie     12/40 Woorayl St  381000.0    2048.0
13185  Glen Huntly      4/135 Grange Rd  600000.0     100.0
13280     Richmond    201/77 Abinger St  400000.0    4425.0
13372    Brunswick      1/208 Albion St  424000.0     334.0
13460  Keilor East        17 Diorite Ct  860000.0     472.0

[691 rows x 4 columns]

### 9. The cheapest house in each suburb in each region

In [67]:

melb_data.groupby(['Regionname', 'Suburb']).apply(lambda df: melb_data.loc[df.Price.idxmin(), ['Address', 'Price', 'Bedroom2']])

                                                  Address     Price  Bedroom2
Regionname           Suburb
Eastern Metropolitan Bayswater             1/20 Church St  520000.0       2.0
                     Bayswater North    1/19 Glen Park Rd  500000.0       3.0
                     Bellfield            129 Liberty Pde  625000.0       3.0
                     Blackburn             3/43 The Ridge  485000.0       2.0
                     Blackburn North      1/108 Surrey Rd  706000.0       2.0
...                                                   ...       ...       ...
Western Metropolitan Yarraville       3/107 Somerville Rd  330000.0       2.0
Western Victoria     Bacchus Marsh           4 Lidgett St  285000.0       3.0
                     Brookfield             30 Pinrush Rd  456000.0       4.0
                     Melton                118 Barries Rd  283000.0       3.0
                     Melton South       1/33 Staughton St  280500.0       2.0

[314 rows x 3 columns]

In [68]:
houses_grouped = melb_data.groupby(['Regionname', 'Suburb']).Price.agg([min, max])
houses_grouped = houses_grouped.reset_index()
houses_grouped_ordered = houses_grouped.sort_values(by='min')

houses_grouped_ordered

                     Regionname        Suburb        min        max
263        Western Metropolitan     Footscray    85000.0  1450000.0
196       Southern Metropolitan     Caulfield   131000.0  1665000.0
243        Western Metropolitan        Albion   145000.0   905000.0
83        Northern Metropolitan        Coburg   145000.0  2250000.0
211       Southern Metropolitan      Hawthorn   160000.0  7650000.0
..                          ...           ...        ...        ...
67             Eastern Victoria        Silvan  1070000.0  1085000.0
177  South-Eastern Metropolitan     Waterways  1232000.0  1265000.0
218       Southern Metropolitan       Kooyong  1290000.0  3080000.0
136           Northern Victoria  New Gisborne  1355000.0  1355000.0
115       Northern Metropolitan  Princes Hill  1540000.0  1908000.0

[314 rows x 4 columns]

In [53]:
melb_data.loc[melb_data.Suburb == 'Bayswater', ['Suburb', 'Price']]

          Suburb      Price
8733   Bayswater   640000.0
9022   Bayswater   930000.0
9023   Bayswater   700000.0
9024   Bayswater   860000.0
9422   Bayswater   520000.0
9423   Bayswater   925000.0
9790   Bayswater  1030000.0
10125  Bayswater   705000.0
10579  Bayswater   900000.0
10580  Bayswater   520000.0
10902  Bayswater   720000.0
11888  Bayswater   606000.0
12227  Bayswater   824000.0
13103  Bayswater   755000.0

In [11]:
melb_data.describe()

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,13580.000000,1.358000e+04,13580.000000,13580.000000,13580.000000,13580.000000,13518.000000,13580.000000,7130.000000,8205.000000,13580.000000,13580.000000,13580.000000
mean,2.937997,1.075684e+06,10.137776,3105.301915,2.914728,1.534242,1.610075,558.416127,151.967650,1964.684217,-37.809203,144.995216,7454.417378
std,0.955748,6.393107e+05,5.868725,90.676964,0.965921,0.691712,0.962634,3990.669241,541.014538,37.273762,0.079260,0.103916,4378.581772
min,1.000000,8.500000e+04,0.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1196.000000,-38.182550,144.431810,249.000000
25%,2.000000,6.500000e+05,6.100000,3044.000000,2.000000,1.000000,1.000000,177.000000,93.000000,1940.000000,-37.856822,144.929600,4380.000000
50%,3.000000,9.030000e+05,9.200000,3084.000000,3.000000,1.000000,2.000000,440.000000,126.000000,1970.000000,-37.802355,145.000100,6555.000000
75%,3.000000,1.330000e+06,13.000000,3148.000000,3.000000,2.000000,2.000000,651.000000,174.000000,1999.000000,-37.756400,145.058305,10331.000000
max,10.000000,9.000000e+06,48.100000,3977.000000,20.000000,8.000000,10.000000,433014.000000,44515.000000,2018.000000,-37.408530,145.526350,21650.000000